<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>20200423_Bike_JSON_jqueryAjax</display-name>

	<servlet>
		<servlet-name>bikeInfoFirst</servlet-name>
		<servlet-class>com.min.edu.ctrl.BikeFirstCTRL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bikeInfoFirst</servlet-name>
		<url-pattern>/BikeFirst.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bikeInfoSecond</servlet-name>
		<servlet-class>com.min.edu.ctrl.BikeSecondCTRL</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bikeInfoSecond</servlet-name>
		<url-pattern>/BikeSecond.do</url-pattern>
		
		

	</servlet-mapping>

</web-app>
